###############################################
### EMBEDDED TOMCAT CONFIGURATIONS ###
###############################################
server.port=${PORT:8084}
server.tomcat.threads.max = 1

###############################################
### JWT ##
###############################################
jwt.secret==your-secret-key